<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/myjavascipt.js"></script>
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

</head>

<body>
    <img class="banner-logo" src="/assets/images/banner.jpg" width="167" height="134" >
    {% include navigation.html %}
    {{ content }}
    <footer>
        
        <p>Posted by: 二傻子团队</p>
        <p><a href="https://baike.baidu.com/item/%E6%B0%B8%E5%B7%9E/720137?fr=aladdin">湖南省永州市介绍</a></p>

    </footer>
</body>

</html>